*{
    font-family: "Gill Sans", serif; text-align: center;
    font-size: 35px; padding: 0px;
}

img{
    width: 500px; height: auto;
}
.back{
    width: 100vw; height: 150vh;
    background-size: cover;

}
.landingBack{
    /* background-image:url("https://t3.ftcdn.net/jpg/02/52/38/80/360_F_252388016_KjPnB9vglSCuUJAumCDNbmMzGdzPAucK.jpg"); */
    background-color: rgb(168, 211, 228);
}
.landingHeader{
    border: 8px solid coral; 
    height: 70px; font-size: 50px;
    text-align: left;
    background-color: beige;
    margin-left:-8px; padding: 10px; font-family: "Papyrus", sans-serif;
    
}

#box{
    background: skyblue; text-align: center; 
    opacity: 0.9;
    width: 1000px; margin: 50px; height: 400px; padding: 50px;
    margin-left: 200px;
    margin-right: 150px;
    border-radius: 25px;
    
}
.food#box{
    height: 800px;
    background-color: rgb(112, 218, 153);
    text-align:inherit; 
    border-color: peru;
    
} 
.recipe-head{
    margin: 0; 
    font-size: 50px; font-family:'Times New Roman', Times, serif;
    height: 100px;
    color: indianred;
    background-color: burlywood;
}
.burgerBack{
    background-image: url("https://www.shutterstock.com/shutterstock/photos/72883006/display_1500/stock-photo-gigantic-hamburger-on-white-background-fast-food-concept-72883006.jpg");
}
.pastaBack{
    background-image: url("https://www.allrecipes.com/thmb/M2Ci7aik3JW3XboXuPD_-bmvVME=/0x512/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/241920-easy-homemade-pasta-dough-ddmfs-4x3-c7172fe3104e43868f928c077d3a3397.jpg");
}
.grilledCheeseBack{
    background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F2206436.jpg&q=60&c=sc&poi=auto&orient=true&h=512");
}
.burgerBox{
    display: block;
    height: 335px;
    background-color: rgb(228, 125, 125);
    margin-left:-5px;
    margin-top:0px;
    text-align:left;
    border: 8px solid brown;
    
}
.pastaBox{
    display: block;
    background-color: wheat;
    margin-left:-5px;
    margin-top:0px; text-align:right;
    border: 8px solid orange;
    
}
.grilledCheeseBox{
    background-color: burlywood;
    margin-left:-5px;
    margin-top:0px; 
    text-align:left;
    border: 8px solid greenyellow;

    
}
.desc1{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
}
.desc1.desc2{
    /* margin-right: 200px; */
}